@tailwind base;
@tailwind components;
@tailwind utilities;

.imageStyle{
    max-width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}